.block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  9px 9px 18px #bababa,
           -9px -9px 18px #ffffff;
}
.filter {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  9px 9px 18px #bababa,
           -9px -9px 18px #ffffff;
}


.controls{
  display: flex;
}


.title {
  margin: 10px;
  color:#233f74;
  font-size: 1.2em;
  font-weight: 600;
}

.todo {
padding: 10px;
margin: 10px;
border-radius: 9px;
background: #e0e0e0;
box-shadow: inset 5px 5px 7px #c7c7c7,
            inset -5px -5px 7px #f9f9f9
}

.todo h2 {
  margin: 5px 0;
}

.todo .details {
  margin: 5px 0;
}

.editTodo {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

@media screen and (max-width:768px) {
  label {
    display: block;
    margin: 5px;
  }
}